body {
    /* margin: 0px; */
    font-family: sans-serif;
}

header {
    width: 100%;
    background: rgb(224, 171, 70);
    height: 50px;
    position: fixed;
    /* padding: 15px 0px; */
    top: 0px;
    z-index: 10;
    left: 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(245, 208, 139);
}

/* igual afecta el logo header .container img{
    width: 200px;
} */

header .container nav a{
    color: rgb(248, 154, 120);
    margin: 0px 15px;
}

/*Para el logo*/
header img {
    float: right;
    width: 150px;
    height: 60px;
    padding-right: 0px;
}

#inicio img{
    height: 600px;
    margin-bottom: 50px;
}

#inicio {
    position: relative;
}

/* #inicio img {
    width: 100%;
    display: block;
} */

#inicio .bloque-inicio {
    /*
    Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio del elemento con position: absolute
    */
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}
/*Para agrandar la letra de cada uno de los titulos de la letra*/
#inicio .bloque-inicio h1 {
    color: white;
    font-size: 40px;
}

#inicio .bloque-inicio p {
    color: white;
    font-size: 20px;
}

#servicio .container h1{
    color: black;
    font-size: 40px;
}

#productos .container h1{
    color: black;
    font-size: 40px;
}
/*Hasta aqui se los agranda*/
#servicio .espacio-servicio img{
    height: 300px;
    
}

/*Para ordenar las imagenes de servicio*/
.espacio-servicio{
    width: 40%;
    display:inline-block;
    margin: 3%;

}

.espacio-productos{
    width: 40%;
    display:inline-block;
    margin: 3%;
}


#servicio .espacio-contenido-servicio h1{
    font-size: 30px;
}



#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
}

.menu li {
    border-right: 1px solid #fff;
}

/*Para el cursor cuando se hace responsivo el color del cursor es este*/
.menu li:hover {
    background: rgb(245, 208, 139);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
} 

main {
    padding: 20px;
}

main img {
    width: 100%;
    height: 50%;
}

/*Para el logo de imagenes los fabicos*/
.columna {
    padding-right: 15px;
    padding-left: 15px;
} 
/*este esta afectando el tamaño del formulario de contactos*/
.columna-41 {
    width: 41.66%;
}

/**/
.columna-25 {
    width: 25%;
}
  
/*este es para mover el formulario a la derecha*/
/* .empujar-58 {
    margin-left: 58.33%;
} */

/*Para el formulario, con el relativo hace que se mueva con el formulario, como no 
esta con imagen es por eso que este estilo no me sirve a menos que ponga el mapa*/
/* #contactenos {
  position:relative;
}*/

/*Para el formulario sus diseños*/
#contactenos iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#contactenos form {
  padding: 60px;
  background-color: aqua;
}

#contactenos #formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 0;
}

/*Validacion del formulario*/

.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  /* color: white; */
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}
/*Hasta aqui valida el formulario*/

footer{
    /* padding-top: 60px; */
    /*margin-top: 350px; */
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgb(245, 208, 139);
}

/*es para el derechos reservados*/
footer .barra-footer {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    /* background-color: black;
    color: white; */
}

/*es para los logos de imagenes(como es blanco y lo ponemos fondo no nos combiene)*/
/* footer a {
  color: white;
} */

/*no es necesario el font-size(para agrandar comunmente letras), con el display: flex
estamos separando las imagenes de redes sociales(pero se juntan), el que nos ayuda a 
separandolos es el justify-content: space-between(con este se separan los iconos 
de redes sociales)*/
footer .redes {
  /* font-size: 30px; */
  display: flex;
  justify-content: space-between;
}

/*los logos de face, whas, instagram*/
footer .redes a {
  /* margin: 0px 7.5px; */
  font-size: 40px;
}

footer ul {
  padding-right: 0px;
  list-style: none;
  margin: 0;
  /* background-color: blueviolet; */
}

footer ul li {
  margin-bottom: 10px;
  margin-left: -40px;
  font-size: 18px;
}

.row {
    display: flex;
    /*Si una columna no entra, esa columna va hacia abajo*/
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


/*PARA LA NUEVA*/
body {
    /* background: #150f21; */
    font-size: 18px;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* .contenido {
    max-width: 800px;
    margin: 0 auto;
  }
   */
  /* Cards */
  .card-column {
    width: 50%;
    float: left;
    padding: 4%;
    box-sizing: border-box;
  }
  
  .column-1 {
    padding-top: 100px;
  }
  


  .card {
    width: 92%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #EB5160;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;

    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
  }


  img{
    border-radius: 5px;
  }
  
  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid #fff;
    opacity: 0.5;
    left: -6px;
    top: -6px;
    border-radius: 5px;
  }
  
  .card h1 {
    position: relative;
    padding: 190px 0px 100px 10px;
    width: 90%;
  }
  
  .card > img {
    width: 90%;
    position: absolute;
    top: -6%;
    left: -6%;
  }
  
  .card-color-0 {
    background-color: #EB5160;
  }
  
  .card-color-1 {
    background-color: #8F3985;
  }
  
  .card-color-2 {
    background-color: #8DAA91;
  }
  
  .card-color-3 {
    background-color: #888DA7;
  }
  
  /* The cover (expanding background) */
  .cover {
    position: fixed;
    background: #EB5160;
    z-index: 80;
    transform-origin: 50% 50%;
  }
  
  /* El contenido de la página abierta */
  .open-content {
    width: 100%;
    z-index: 110;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .open-content img {
    position: relative;
    width: 90%;
    margin-left: 3%;
    margin-top: 20px;
    z-index: 5;
  }
  
  /*PARA EL CONTENIDO DE LAS LETRAS DENTRO DE LA TRANSICION*/
  .open-content .text {
    background: #fff;
    margin-top: -56%;
    padding: 60% 5% 5% 5%;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  /*EL ESPACIO DE LAS LETRAS EN EL CONTENIDO */
  .open-content .text h1, .open-content .text p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*PARA LA POSICION DEL FONDO DEL BOTON DE CIERRE (X) DE LA TRANSICION*/
  .close-content {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
  }
  
  /*PARA LA (X)"DEL BOTON"*/
  .close-content span {
    background: #222;
    width: 30px;
    height: 6px;
    display: block;
    position: absolute;
    top: 14px;
  }
  
  .x-1 {
    transform: rotate(45deg);
  }
  
  .x-2 {
    transform: rotate(-45deg);
  }
  
  /* Transitions*/

  /*PARA LOS FONDOS DE CADA IMAGEN (EL FONDO)*/
  .card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
    /* background-color: blue; */
  }
  
  /*PARA EL FONDO DEL FONDO*/
  .border {
    transition: opacity 200ms linear, transform 200ms ease-out;
    /* background-color: aqua; */
  }
  
  /*PARA LAS IMAGENES*/
  .card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
  }
  
  /*ES LA POSICION DE LAS LETRAS "TITULOS"*/
  .card h1 {
    transform: translate3d(20%, 0px, 0px);  
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
  }
  
  /* Clicked card */
  .card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }
  
  .card.clicked .border {
    opacity: 0;
    transform: scale(1.3);
  }
  
  .card.out, .card.out img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }
  
  .card.out h1, .card.clicked h1 {
    transform: translate3d(20%, -40px, 0px);
    opacity: 0;
  }
  
  .cover {
    transition: transform 300ms ease-in-out;
  }
  
  .open-content {
    transition: opacity 200ms linear 0ms;
  }
  
  .open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
    /* background-color: purple; */
  }
  
  /* 
  ** Media Queries
  */
  
  @media screen and (max-width: 600px) {
    .card-column {
      width: 90%;
    }
    
    .column-1 {
      padding-top: 0px;
    }
    
    .open-content img {
      margin-top: 40px;
    }
  }

/*HASTA AQUI*/

@media screen and (max-width:768px){
    body{
        font-size: 25px;
    }

    header{
        position: fixed;
    }

    header label {
        display: block;
    }

    header label i{
        font-size: 30px;
    }

    .menu {
        position: absolute;
        background: white;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin: 0px;
    }

    header img {
        padding-right: 0px;
        height: 60px;
    }

    .container {
        width: 100%;
      }
    
    .columna-mobile-100 {
        width: 100%;
    }

    .empujar-mobile-0 {
        margin-left: 0;
    }

    .sinpadding-mobile {
        padding: 0px;
    }

    #contactenos {
        padding: 0;
    }
}

@media screen and (max-width:420px){
    body{
        font-size: 15px;
    }

    #inicio .bloque-inicio h1 {
        color: white;
        font-size: 40px;
    }
    
    #inicio .bloque-inicio p {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 15px;
    }

    #servicio .container h1{
        color: black;
        font-size: 25px;
    }

    #productos .container h1{
        color: black;
        font-size: 25px;
    }

    header{
        width: 100%;
        background: rgb(224, 171, 70);
        height: 50px;
        position: fixed;
        /* padding: 15px 0px; */
        top: 0px;
        z-index: 10;
        left: 0px;
    }

    header .container{
        display: flex;
        justify-content: space-between;
        height: 60px;
        background-color: rgb(245, 208, 139);
    }

    header .container nav a{
        color: rgb(248, 154, 120);
        margin: 0px 15px;
    }

    main img {
        height: 20%;
        width: 100%;
    }
}

@media screen and (max-width:320px){
    body{
        font-size: 15px;
        margin-left: 5px;
        margin-right: -30px;
    }

    #inicio .bloque-inicio h1 {
        color: white;
        font-size: 40px;
    }
    
    #inicio .bloque-inicio p {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 45px;
    }

    #servicio .container h1{
        color: black;
        font-size: 25px;
    }

    #productos .container h1{
        color: black;
        font-size: 23px;
    }

    header{
        width: 100%;
        background: rgb(224, 171, 70);
        height: 50px;
        position: fixed;
        /* padding: 15px 0px; */
        top: 0px;
        z-index: 10;
        left: 0px;
    }

    header .container{
        display: flex;
        position: fixed;
        justify-content: space-between;
        height: 60px;
        background-color: rgb(245, 208, 139);
    }

    header .container nav a{
        color: rgb(248, 154, 120);
        margin: 0px 15px;
    }

    main img {
        height: 20%;
        width: 100%;
    }
}